{{!-- This is the base layout for your project, and will be used on every page. --}}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{{root}}css/app.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{subject}}</title>
    <!-- <style> -->
  </head>
  <body>
    <span class="preheader">{{description}}</span>
    <table class="body">
      <tr>
        <td class="center" align="center" valign="top">
          <center>


            <container>


              <row>
                {{> body}}

                <row>
                      <columns >
                       <p class="text-right"> Kind regards <br>
                                                                      Your ZOULOU Service Team   </p>                     </columns>
                </row>
                  <img src="assets/img/footer-top.jpg" alt="">
                  <row class="footer">

                    <columns>
                        <spacer size="25"></spacer>
                              <row>
                                <columns large="6">
                                    <p>Email: email@zoulou.com</p>
                                </columns>
                                <columns large="6">
                                <p>Hotline: +11 (111) 111-1111</p>
                              </columns>
                              </row>

                              <row>
                                    <columns>
                                      <center>
                                                   <small>You received this email because you're signed up to get updates from us.<br> <a href="#">Click here to unsubscribe.</a></small>
                                                    </center>
                                                  </columns>
                              </row>

                    </columns>  

                  </row>


              </row>


            </container>


          </center>
        </td>
      </tr>
    </table>
    <!-- prevent Gmail on iOS font size manipulation -->
   <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
  </body>
</html>

